{
  "extends": [
    "wesbos"
  ],
  "rules": {
    "react/prop-types": 0,
    "no-promise-executor-return": 0,
    "arrow-body-style": [
      "error",
      "always"
    ],
    "react/no-unstable-nested-components": [
      "error",
      {
        "allowAsProps": true
      }
    ],
    "react/destructuring-assignment": [
      "warn",
      "always",
      {
        "ignoreClassFields": 0,
        "destructureInSignature": "ignore"
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 120,
        "tabWidth": 4
      }
    ]
  }
}